matplotlib==3.5.2
matplotlib==3.7.2
matplotlib==3.7.1
numpy==1.21.5
numpy==1.24.3
numpy==1.24.4
pandas==1.4.4
pandas==1.5.3
pandas==2.0.3
plotly==5.9.0
plotly==5.22.0
Requests==2.32.3
streamlit==1.24.1
yfinance==0.2.32
yfinance==0.2.40
